*{
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #eef2ff, #f9fafb);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 10px 0 20px;
}


/* Dark Toggle Button */
.darkThemeBtn * {
  transition: all 0.3s;
}

.darkThemeBtn input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkThemeBtn label {
  border: 1px solid #d1d5db;
    background: #e5e7eb;
    border-radius: 10px;
    height: 46px;
    width: 46px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.darkThemeBtn label:active {
  border-radius: 5px;
}

.darkThemeBtn label svg {
  position: absolute;
  width: 16px;
  transition: 0.3s;
  z-index: 1;
  fill: #000;
}

.darkThemeBtn label i {
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  z-index: 1;
  color: #000;
}

.darkThemeBtn label i.sun {
  opacity: 0;
  color: #fff;
}

.darkThemeBtn label i.moon {
  opacity: 1;
}

.darkThemeBtn input:checked + label {
    background: #4a6cf7;
    border-color: #4a6cf7;
}

.darkThemeBtn input:checked + label i.sun {
  opacity: 1;
}

.darkThemeBtn input:checked + label i.moon {
  opacity: 0;
}



body.dark {
    background: #0f172a;
    color: #e5e7eb;
}

body.dark .card {
    background: #020617;
    color: #e5e7eb;
}

body.dark input,
body.dark select {
    background: #020617;
    color: #e5e7eb;
    border-color: #334155;
}

body.dark button {
    background: #2563eb;
}


.container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.platforms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 6px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #4338ca;
}

ul {
    padding-left: 18px;
}

li {
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}


